{% extends "base.html" %}
{% load static %}

{% block title %}
My Blog
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/index.css" %}">
    <link rel="stylesheet" href="{% static "blog/post.css" %}">
    <link rel="stylesheet" href="{% static "blog/all-posts.css" %}">
{% endblock %}

{% block content %}

<section id="welcome">
    <header>
        <img src="{% static "blog/images/szi.jpeg"%}" alt="Szilvi = The Author of this Blog">
        <div>
            <h2>VIA25'S BLOG</h2>
            <form action="{% url "contact-me" %}">
                {% csrf_token %}
                <button>Contact me!</button>
            </form>
        </div>
    </header>
    <p>Hi, my name is Szilvia and I love to blog about tech and the world!</p>
</section>

<section id="latest-posts">
    <h2>My Latest Thoughts</h2>

    <ul>
        {% for post in posts %}
            {% include "blog/includes/post.html" %}
        {% endfor %}
    </ul>
</section>

<section id="about">
    <h2>About this project</h2>
    <p>
        This project was created as part of 
        <a href="https://academind.com/">Maximilian Schwarzmüller's Django - The Practical Guide 2021 course.
            </a>
    </p>
</section>

{% endblock %}